.contact {
}

#contactForm {
  box-shadow: 0px 0px 1px grey;
  display: grid;
  gap: 0.7rem;
  grid-template-columns: 1fr;
  place-content: center;
  width: 600px;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;

  > * {
    width: 80%;
    justify-self: center;
    padding: 5px;
  }

  textarea {
    resize: none;
  }

  button {
    width: 6rem;
    height: 3rem;
    border-radius: 15px;
    background: rgb(213, 101, 101);
    color: white;
    border: none;
    cursor: pointer;
  }
}
